{% extends "layout.html" %}

{% block title %}
    ACCOMMODATION
{% endblock %}

{% block main %}
    <div class="container bg-light text-center mb-5 p-2 border">

        <a href="/add">
            <i class="fa fa-plus-circle"></i> Add Service
        </a>

    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 bg-light text-center p-2 border">

        {% for row in rows %}
            <div class="col p-2">

                <div class="card h-100">

                    <img src="{{ row.image }}" border="0" class="card-img-top" alt="image" height="240">

                    <div class="card-header bg-success">
                        <small class="text-white">{{ row.service }} # {{ row.id }}</small>
                    </div>

                    <div class="card-body">
                        <p class="card-title small">
                            <strong>{{ row.title }}</strong>
                        </p>
                        <p class="card-text small">{{ row.category }} | {{ row.location }}</p>
                        <a href="/engage-{{ row.id }}" class="btn btn-primary d-block"><small>Book</small></a>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted">{{ row.revenue | usd }} / day</small>
                    </div>

                    <div class="card-footer bg-success">
                        <small class="text-white">Provider # {{ row.provider }}</small>
                    </div>

                    <div class="card-footer">
                        <small class="">{{ row.details }}</small>
                    </div>

                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}