{% extends "layout.html" %}

{% block title %}
    ENSURE#{{ transaction_id }}
{% endblock %}

{% block main %}
    <div class="text-center bg-light border">

        <div class="bg-success p-3">

            <h6>
                <i class="fa fa-adjust"></i> User Confirmation
            </h6>

        </div>

        <div class="container p-3">

            <form action="/ensure-{{ transaction_id }}" method="post">

                <div class="form-group">

                    <select class="form-control form-select" name="status" required>

                        <option selected value="{{ transaction.status }}">Select</option>

                        <option class="bg-success text-white text-center" disabled value="">Have you gotten payment?</option>
                        <option value="Successful">Yes</option>
                        <option value="Failed">No</option>

                    </select>

                </div>

                <button class="btn btn-success" type="submit">Ensure</button>

            </form>

        </div>

    </div>
{% endblock %}